<tr>
      
      <td> <%=invoice.nombre_cliente %></td>
      <td> <%=invoice.email_cliente %></td>
      <td>
    <%= link_to  invoice, :class=>"nav-link" do %>
      <i class="fas fa-fw fa-eye"></i>
      <span>Ver</span>
    <%end%></td>
</tr>