<h1>Invoices</h1>

<table class="responsive nowrap table table-hover" id="dttb-invoices" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="nombre_cliente">Nombre cliente</th>
      <th data-data="email_cliente">Email cliente</th>
      <th data-data="total_factura">Opcion</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

<%= render @invoices %>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>