
 <tr>
      
      <td> <%=product.name %></td>
      <td> <%=product.price %> $</td>
      
      <td>
    <%= link_to  product, :class=>"nav-link" do %>
      <i class="fas fa-fw fa-eye"></i>
      <span>Ver</span>
    <%end%></td>
</tr>


   
   
 
