<div class="card" style="width: 18rem;">
  <img src="https://grandhotelier.com/wp-content/uploads/2019/08/Meseros.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-capitalize"><%=@product.name %></h5>
   
    <p class="card-text"><%=@product.price %>$</p>
    
    
  <div>
        <%=link_to "Editar",  product_edit_path(@product.id),  {:class=> "btn btn-success "} %>
        <br><br>
        <%=link_to "Eliminar Producto" ,  product_delete_path(@product.id), {:class=> "btn btn-danger"} %>
    </div>
  </div>
</div>





